<div class="chat-header">
	<div class="room-name">
		hogefuga
	</div>
	<div class="chat-end">
		<a href="#">チャットを終了する</a>
	</div>
</div>

<div class="tweets">
	<div class="tweet">
		<div class="upper-tweet">
			<div class="tweeter-name">Tom</div>
			<div class="tweet-date">2020/3/31 12:43:30</div>
		</div>
		<div class="lower-tweet">
			<div class="tweet-comment">おはよう</div>
		</div>
	</div>
	<div class="tweet">
		<div class="upper-tweet">
			<div class="tweeter-name">Tom</div>
			<div class="tweet-date">2020/3/31 12:43:30</div>
		</div>
		<div class="lower-tweet">
			<div class="tweet-comment">おはよう</div>
		</div>
	</div>
</div>

<div class="form">
	<div class="form-input">
    <input class="form-tweet" placeholder= "type a tweet">
		<label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>