/* ヘッダー */
.header-btns {
	display: flex;
	justify-content: space-between;
}

.header-btn a {
	display: block;
}

.header-logo a {
	color: #0db;
	text-decoration: none;
	font-size: 30px;
	display: block;
	padding: 20px;
	font-weight: bold;
}

.header-logo a:hover {
	color: orange;
}

.header-btn {
	color: #fff;
	width: 100px;
	line-height: 80px;
	background-color: #0db;
	display: block;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
}

.header-btn:hover {
	background-color: orange;
}

.icons {

	display: flex;
	justify-content: space-around;
}

.icon {
	margin-top: 50px;
	margin-right: 30px;
}

.icon:hover {
	font-weight: bold;
}

.icon:hover img{
	border: 2px solid #0db;
	background-color: #0db;
	color: #fffeee;
	border-radius: 20px;
}

.icon p {
	width: 200px;
	color: #0db;
	font-size: 25px;
}

.icon-p {
	width: 200px;
	color: #0db;
	text-decoration: none;
	font-size: 25px;
}

.icon-image {
	width: 280px;
	height: 250px;
}
