/* ヘッダー */
body {
	
}

.header {
	background-color: #fffeee;
	height: 80px;
	padding: 0 30px;
}


.header-btns {
	display: flex;
	justify-content: space-between;
}

.header-logo a {
	color: #0db;
	text-decoration: none;
	font-size: 30px;
	display: block;
	padding: 20px;
	font-weight: bold;
}

.header-logo a:hover {
	color: #f37053;
}

.header-btn {
	color: #0db;
	line-height: 80px;
	background-color: #0db;
	display: block;
}

.header-btn:hover {
	background-color: #f37053;
}

.main-wrapper {
	height: 800px;
	padding: 20px 60px;
}

.icons {
	display: flex;
	justify-content: space-between;
}

.icon {
	width: 50%;
	margin-top: 50px;
	
}

.icon:hover img{
	border: 2px solid #0db;
	background-color: #0db;
	color: #fffeee;
	border-radius: 20px;
}

.icon p {
	width: 200px;
	color: #0db;
	font-size: 25px;
}

.icon-p {
	width: 200px;
	color: #0db;
	text-decoration: none;
	font-size: 25px;
}

.icon-p:hover {
	color: #f37053;
}
