.toppage, .show, .edit {
	padding: 50px 35px 0;
	width: 100%;
}

.schedule-contents {
	border: 3px solid orange;
	border-radius: 3px;
	padding: 20px;
}

.time select {
	width: 70%;
}

.top {
	font-weight: bold;
	color: orange;
}

.title, .content, .time {
	margin-bottom: 15px;
}