<div class="main-wrapper">
	<div class="icon-face">
		<img src="https://2.bp.blogspot.com/-mAPlMWTEu6w/Vf-avVV_qWI/AAAAAAAAyKQ/fFlCoLI8v0g/s800/icon_business_woman06.png" width="220px" height="200px" >
		<p>名前１</p>
	</div>
	<div class="icon-face">
		<img src="https://1.bp.blogspot.com/-udC855w95dQ/Vf-an9DwChI/AAAAAAAAyIE/jJQs8BwMiSc/s800/icon_business_man05.png" width="220px" height="200px" >
		<p>名前２</p>
	</div>
	<div class="icon-face">
		<img src="https://1.bp.blogspot.com/-R5IBoqtlmUg/Vf-axcCuclI/AAAAAAAAyKw/S-DC6B55P5M/s800/icon_business_woman10.png" width="220px" height="200px" >
		<p>名前３</p>
	</div>
	<div class="icon-face">
		<img src="https://3.bp.blogspot.com/-B-xk9ZeFe4A/Vf-amDqeQmI/AAAAAAAAyHw/8oOgEX6foYc/s800/icon_business_man02.png" width="220px" height="200px" >
		<p>名前４</p>
	</div>
	<div class="icon-face">
		<img src="https://3.bp.blogspot.com/-iOrdJELd9yc/Vf-atQQbXTI/AAAAAAAAyJo/xD5HYRbATGA/s800/icon_business_woman01.png" width="220px" height="200px" >
		<p>名前５</p>
	</div>
	<div class="icon-face">
		<img src="https://4.bp.blogspot.com/-k7qQRYy2yJg/Vf-atj1jJCI/AAAAAAAAyJs/rFD5lyAn7NI/s800/icon_business_woman02.png" width="220px" height="200px" >
		<p>名前６</p>
	</div>
	<div class="icon-face">
		<img src="https://4.bp.blogspot.com/-IghrJ53dHi4/Vf-arG5MJ4I/AAAAAAAAyJA/L58BtmgUqxM/s800/icon_business_man12.png" width="220px" height="200px" >
		<p>名前７</p>
	</div>
	<div class="icon-face">
		<img src="https://1.bp.blogspot.com/-X47oiCDvrw4/Vf-auE06zxI/AAAAAAAAyJ0/Xyz7RgGS2yg/s800/icon_business_woman03.png" width="220px" height="200px" >
		<p>名前８</p>
	</div>
	<div class="icon-face">
		<img src="https://4.bp.blogspot.com/-07Fj2RvHvNw/Vf-am2wUVEI/AAAAAAAAyH4/wniywd4OwXM/s800/icon_business_man03.png" width="220px" height="200px" >
		<p>名前９</p>
	</div>
	
</div>