<div class="main-wrapper">
	<div class="icons">
		<div class="icon">
			<p><%= link_to 'チャットする', tweets_index_path, class: 'icon-p' %></p>
			<img src="https://2.bp.blogspot.com/-IRtqqj5nKXc/Wmqh8x1qaNI/AAAAAAABJ14/grmOOwa39R8P1bt0KDptOdiL1RZWm0nwACLcBGAs/s800/sns_happy_woman.png" width="220px" height="200px" >
		</div>
		<div class="icon">
			<p>カオで選ぶ</p>
			<img src="https://2.bp.blogspot.com/-F6aI0BMfaVg/Wqih-jYWc1I/AAAAAAABK3c/iVDJVFszr2cNr05QYphdJWkI-KlI35Y-ACLcBGAs/s800/network_people_connection.png" width="260px" height="200px" >
		</div>
		<div class="icon">
			<p>予定をみる</p>
			<img src="https://1.bp.blogspot.com/-4CUcc9q8aFQ/X7zMWWGRmpI/AAAAAAABcaE/nfdSqmkx9RQL0ZoBisukxdD-qdjJS28iQCNcBGAsYHQ/s830/calender_schedule_half.png" width="260px" height="200px" >
		</div>
		<div class="icon">
			<p>マイページ</p>
			<img src="https://2.bp.blogspot.com/-uVuX45BvvQc/Vf-aut1-C0I/AAAAAAAAyJ8/zWR_FZKnmbk/s800/icon_business_woman04.png" width="220px" height="200px" >
		</div>
	</div>
</div>